${LAN_IP} jellyfin.${DOMAIN}
${LAN_IP} pihole.${DOMAIN}
${LAN_IP} home.${DOMAIN}
${LAN_IP} qbittorrent.${DOMAIN}
${LAN_IP} bazarr.${DOMAIN}
${LAN_IP} flaresolverr.${DOMAIN}
${LAN_IP} jellyseerr.${DOMAIN}
${LAN_IP} lidarr.${DOMAIN}
${LAN_IP} prowlarr.${DOMAIN}
${LAN_IP} radarr.${DOMAIN}
${LAN_IP} sonarr.${DOMAIN}