.env
Caddyfile
etc-pihole/*.db
etc-pihole/*.conf
etc-pihole/*.bak
etc-pihole/*.leases
etc-pihole/versions
etc-pihole/local.list
etc-pihole/logrotate
etc-pihole/*.sha1
etc-pihole/migration_backup/*
etc-pihole/*.domains
etc-pihole/*.list
etc-dnsmasq.d/*
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/bazarr
/qbittorrent
/pia
/pia-shared
/letsencrypt
/jellyseerr
