.env
Caddyfile
/container-data/data/caddy/*.uuid
/container-data/data/caddy/*.json
etc-pihole/*.db*
etc-pihole/*.conf
etc-pihole/*.bak
etc-pihole/*.leases
etc-pihole/*.crt
etc-pihole/*.pem
etc-pihole/cli_pw
etc-pihole/*toml
etc-pihole/config_backups
etc-pihole/hosts
etc-pihole/migration_backup*
etc-pihole/listsCache
etc-pihole/gravity_backups
etc-pihole/versions
etc-pihole/local.list
etc-pihole/logrotate
etc-pihole/*.sha1
etc-pihole/migration_backup/*
etc-pihole/*.domains
etc-pihole/*.list
etc-dnsmasq.d/*
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/readarr
/bazarr
/qbittorrent
/pia
/pia-shared
/letsencrypt
/jellyseerr
