.env
Caddyfile
/container-data
/etc-pihole/*
!/etc-pihole/custom.list.template
/etc-dnsmasq.d
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/readarr
/bazarr
/qbittorrent
/pia
/pia-shared
/letsencrypt
/jellyseerr
/cleanuparr